body{
    background: #93e3f7 url("/img/background.png") repeat-x bottom fixed;
    font-family: Helvetica, Arial, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    color: rgb(21, 44, 54);
}

.post{
    background-color: rgb(230, 251, 255);
    padding: 8px;
    margin-bottom: 10px;
    border: solid rgb(113, 180, 235) 1px;
}

#page{
    padding: 0px;
    float: right;
    width: 65%;
}

#header{
    margin-top: 10px;
    margin-bottom: 10px;
}

#bar{
    float: left;
    width: 240px;
    text-align: center;
    display: none;
    /*IE6 doesnt support this but im keeping it anyway since its better for Every Other Browser*/
    position: fixed;
    top: 10px;
}

.barbox{
    text-align: left;
    background-color: rgb(198, 242, 255);
    border: solid rgb(113, 180, 235) 1px;
    padding: 10px;
    width: 100%;
    color: rgb(73, 104, 112);
    margin-bottom: 10px;
}

.barheader{
    font-size: 135%;
    font-weight: bold;
}

.barsubheader{
    color: rgb(120, 172, 185);
    font-size: 135%;
    font-weight: bold;
}

#textarea{
    width: 97%;
    height: 80px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.username, .date{
    color: rgb(150, 173, 194);
    font-size: 80%;
}


.profilelink{
    text-decoration: none;
}

.displayname{
    font-weight: bolder;
    font-size: 135%;
}

.postimage{
    width: 320px;
    height: auto;
    border: solid 1px rgb(213, 232, 248);
}

#main{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 800px;
}

.timelineheader{
    font-size: 150%;
    font-weight: bold;
}

.displaynamecontainer{
    padding: 5px;
    padding-left: 60px;
}

#username{
    padding: 4px;
    padding-left: 60px;
    margin-bottom: 5px;
}

.profileheader{
    width: 100%;
}

#usernameinput, #passwordinput{
    width: 234px;
    background-color: #ffffff;
    border: solid rgb(113, 180, 235) 1px;
}

.signin div{
    margin-top: 8px;
}

#logo{
    margin-bottom: 10px ;
}

.box{
    padding: 10px;
    background-color: white;
    border: solid rgb(113, 180, 235) 1px;
    margin-bottom: 10px;
}

#signinsubmit{
    display: block;
    margin: 15px auto;
}

#newposttext{
    width: 492px;
    background-color: #ffffff;
    border: solid rgb(113, 180, 235) 1px;
}

#search{
    margin-bottom: 10px;
}

#profilepane{
    background-color: white;
    margin-bottom: 0px;
    border-bottom-width: 0px;
}

#profilepanedisplayname{
    font-size: 150%;
    font-weight: bold;
}

.postpfp{
    width: 32px;
    height: 32px;
    border: solid 1px rgb(213, 232, 248);
}

.postpfpcontainer{
    width: 32px;
}

.banner{
    color:rgb(150, 173, 194);
}

#showmoreparent{
    background-color: white;
    padding: 10px;
    border-top: solid 1px rgb(213, 232, 248);
}

#showmore{
    display: block;
    margin: 15px auto;
}

#navigation{
    width: 260px;
    padding-left: 0px;
    padding-right: 0px;
}

#navigation a{
    text-decoration: none;
    color: rgb(73, 104, 112);
    border: none;
}

#navigation table{
    width: 100%;
}

#navigation td{
    display: inline-block;
    padding: 3px;
    padding-left: 10px;
}

#navigation .active{
    color: rgb(21, 44, 54);
    background-color: white;
    font-weight: bold;
}